# Configs
*.rbc
*.sassc
.sass-cache
/db/*.sqlite3
/public/system/*

/.bundle
/vendor/bundle

# Monitors
/log/*

# Testing
capybara-*.html
.rspec
/coverage/
/spec/tmp/*
rerun.txt
pickle-email-*.html

# Scratch
**.orig
/tmp/*

# Sources
*.live.template
